{% extends "base.html" %}
{% block content %}
<h1>Alunos Cadastrados</h1>
<table class="table table-striped shadow">
    <thead class="table-dark">
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Matrícula</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for cpf, aluno in alunos.items() %}
        <tr>
            <td>{{ aluno.nome }}</td>
            <td>{{ cpf }}</td>
            <td>{{ aluno.matricula }}</td>
            <td>{{ aluno.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}